{% extends "base.html" %}
{% block title %} Recommend Restaurant {% endblock %}
{% block style %}
.form-yes-or-no {
    text-align: center;
}
.form-yes-or-no ul {
    list-style-type: none;
}
.form-yes-or-no li {
    display: inline;
}
{% endblock %}

{% block content %}
    <div class="display">
        Hi, {{ user_name }}
        This is the restaurants I recommend.

        {% for restaurant in restaurants %}
        <p>
            {{ loop.index }}. {{ restaurant }}
        </p>
        {% endfor %}

        <div>
            {{ user_name }}, Please let me know a recommend restaurant.
        </div>

        <form action="{{ url_for('evaluate_yes_or_no') }} " method="post">
            <div class="form-yes-or-no">
                {{ form.value }}
            </div>
            {{ form.user_name }}
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>


    </div>
{% endblock %}
